<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
{% load crispy_forms_tags %}
<div class="container">
<!--
     <div style="margin-bottom: 35px;" class="card flex-row flex-wrap">
          <div style="background-color: white;" class="card-header border-1">
          </div>
          <div class="card-block px-2">
              <h4 class="card-title"><strong>{{ item.barang }}</strong></h4>
              <p class="card-text">Nama Pembeli: <strong>{{ item.pembeli }}</strong></p>
              <p class="card-text">Kupon: <strong>{{ item.kupon }}</strong></p>
              <p class="card-text">Total Transaksi: <strong>Rp. {{ item.total_harga }}</strong></p>
              <p class="card-text">Tanggal Pembelian: <strong>{{ item.tanggal_beli }}</strong></p>
          </div>
     </div> 
-->

<form method="GET">
     <div class="row">
          {% csrf_token %}
          <div class="form-group col-md-2 mb-0">
          <div class="col-mb-4 " >
               {{option_form|crispy}} 
          </div>
          </div>
          <div class="form-group col-md-2 mb-0" >
          <div class="col-mb-5">
               {{search_form|crispy}}
          </div>
          </div>
          <div class="col-md-2 mb-0">
               <input style="font-size: 16px;" type='submit' class="btn btn-primary" value="Cari">       
          </div>
        </div>
</form>

<!--
<div class="card-block px-2">
     <p class="card-text">{{option_form|crispy}}</p>
     <p class="card-text">{{search_form|crispy}}</p>
     
      <p class="card-text">Ayo cepat gunakan sebelum <strong>jam {{hour}}.{{minute}} WIB tanggal {{day}}/{{month}}/{{year}}</strong></p>
 </div>
-->

{% if coupon_deploy %}
{% for coupon, price, hour, minute, day, month, year in coupon_deploy %}

<div style="margin-bottom: 35px;" class="card flex-row flex-wrap">
     <div style="background-color: white;" class="card-header border-1">
          <img align="left" src="https://previews.123rf.com/images/ogonkova/ogonkova1807/ogonkova180700051/106307649-golden-ticket-gift-certificate-gift-voucher-vector-template-design-with-star-golden-background-usefu.jpg" border="0" width=240>
     </div>
     <div class="card-block px-2">
         <h4 class="card-title" ><strong>DISKON {{coupon.discount_percentage}}%</strong></h4>
         <p class="card-text">Kode: <strong>{{coupon.coupon_code}}</strong></p>
         <p class="card-text">Dengan biaya minimum pembelanjaan Rp.{{ price }},00.
          <p class="card-text">Ayo cepat gunakan sebelum <strong>jam {{hour}}.{{minute}} WIB tanggal {{day}}/{{month}}/{{year}}</strong></p>
     </div>
</div>
{% endfor %}
{% else %}
<h1>Kupon tidak ditemukan :(</h1>
{% endif %}
</div>
{%endblock%}