<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}Catalouges{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'catalogues.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid">
        <div class="row pt-5 px-5">
            <div class="col-2" style="background-color: #2F3A80; color: white;">
                <div class="pt-5 pl-3 pr-3 line1">
                    <strong>
                        <div class="pl-4"><p>Categories</p></div>
                        <p>Gundam</p>
                        <p>Tamiya</p>
                        <p>Barbie</p>
                        <p>Beyblade</p>
                        <p>Action Figure</p>
                        <br>
                    </strong>  
                </div>
                
            </div>
            <div class="col-1"></div>
            <div class="col-8 pt-4 pl-4" style="background-color: rgb(255, 255, 255);">
                
                
                {% for item in kunci %}
            
                <div class="card" style="width: 202px; border-width: 3px; border-color: #2F3A80;">
                    <div style="height: 202x;">
                        <a href="{% url 'details' item.id %}" > <img class="card-img-top gambar" src="https://i.imgur.com/vhcUP8n.png" b> </a>
                    </div>
                </div>
                <div class="line2">
                    <strong>
                        <div style="line-height: 0.8;"><br></div>
                        <p style="font-size: 20px;">{{ item.nama }}</p>
                        <p style="font-size: 15px;">Rp. {{ item.harga }}</p>
                    </strong>
                </div>
                

                {% endfor %}
                
            </div>
        </div>
</div>


{% endblock %}