<!DOCTYPE html>

<style>
    nav {
        width: 100vw;
    }
    
    strong {
        font-weight: 800;
    }

    nav > a > strong {
        color: #DFDFDF;
        font-family: 'Montserrat';
        font-size: 1.75rem;
    }

    .nav-item > strong {
        color: #DFDFDF;
        font-family: 'Montserrat';
    }

</style>

<nav class="navbar sticky-top navbar-expand-md navbar-light px-4 py-3" style="background: #2F3A80;">
    <a class="navbar-brand" href="{% url 'landing' %}"><strong>PW's Hobby Shop</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto"></div>
    <div class="navbar-nav">
            <a class="nav-item nav-link ml-3" href="{% url 'catalogues' %}"><strong>Catalogues</strong></a>
            <a class="nav-item nav-link ml-3" href="{% url 'coupon_page' %}"><strong>Coupons</strong></a>
            <a class="nav-item nav-link ml-3" href="{% url 'recent-trans' %}"><strong>History</strong></a>
            <a class="nav-item nav-link ml-3" href=""><strong>Categories</strong></a>
    </div>
  </div>
</nav>
