{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'histori.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div style="margin-top: 3rem; background-color: white; border-radius: 50px;" class="container">
    <div  class="row">
        <div style="margin:20px;" class="col">
            <img style="margin:auto;" class="card img" width="300px" src="https://i.imgur.com/vhcUP8n.png" alt="">
        </div>
        <div style="margin:20px;" class="col offset-6">
            <p><strong>{{ duar }}</strong></p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <input class="btn btn-primary" type="submit" value="Buy">
            </form>
        </div>

    </div>

</div>
{% endblock %}