<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome to PW's Hobby Shop{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'landingpage.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="jumbotron">

    <div class="row">
        <div class="leftrow col-lg-6 text-left">
            <h1 id="maintitle">40% OFF</h1>
            <h3>Hot Toys™ Endgame Edition</h3>
            <h5>Cuy ini lagi diskon lu ga mau beli apa, kita jual murah banget nih lo beneran gamau beli nih?! <br>
            Gila apaaa wey ini 40% hot toys kapan lagi boskuuuuuuu</h5>
        </div>

        <div class="rightrow col-lg-6 text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static '/landingpage-assets/hottoys1.jpg' %}" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static '/landingpage-assets/hottoys1.jpg' %}" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static '/landingpage-assets/hottoys1.jpg' %}" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>

</section>

<section id="barang">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'details' barang1.id %}"><img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="100%"></a>
      <div class="barang-desc">
        <strong><p>{{ barang1 }}</p>
        <p>{{ barang1.harga }}</p></strong>
      </div>
    </div>
  </div>
</section>

<section id="aboutus">
    <div class="text-left">
        <h2>About Us</h2>
        <h6>Kami adalah sekelompok mahasiswa yang biasa yang ingin mencapai hal-hal yang luar biasa. Toko online ini adalah bentuk 
          perwujudan dan langkah konkrit dari visi kami tersebut.
        </h6>
    </div>
</section>

{% endblock %}